body {
    color:black;
    background-color:azure;
    font-family: "helvetica", sans-serif;
}

h1, h2{
    color:darkslategray;
    font-family: "times", serif;
}


#container {
    width:70%;
    margin: auto;  
}